.edit-form__closebtn {
    position: absolute;
    top: -40px;
    right: -40px;
}

.edit-form__closebtn:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    .edit-form__closebtn {
        top: -36px;
        right: 0;
        width: 20px;
        height: 20px;
    }
    
}