.header {
  width: 100%;
  max-width: 880px;
  height: 74px;
  margin-bottom: 35px;
  display: flex;
  justify-items: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 767px) {
  .header {
    height: 56px;
    margin-bottom: 42px;
  }
}
