.footer {
    width: auto;
    height: 18px;
    margin: 69px auto 60px 0;
    padding: 0; 
}

@media screen and (max-width: 767px) {
    .footer {
        margin-top: 48px;
        margin-bottom: 36px;
    }    
}