.edit-form__submitbtn {
  width: 358px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 2px;
  text-align: center;
  margin: 0 0 37px 0;
  padding: 0;
}

.edit-form__submitbtn:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 550px) {
  .edit-form__submitbtn {
    width: 238px;
    margin-bottom: 25px;
  }
}
